#app {
  height: 100vh;
}

.imagine-container {
  height: 100%;
}

.imagine-form {
  width: 100%;
}
.imagine-input {
  width: 60%;
}

.carousel {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .carousel {
    width: 60%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.9;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

.page-caption {
  background-color: black;
}

.books-button {
  margin: 15px;
}
