#app {
  height: 100vh;
}

.imagine-container {
  height: 100%;
}

.imagine-form {
  width: 100%;
}
.imagine-input {
  width: 60%;
}

.carousel {
  width: 30%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.9;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

.page-caption {
  background-color: black;
}

.gumroad-button {
  display: block !important;
  width: 200px;
}

.books-button {
  margin: 15px;
}
